*{
    box-sizing: border-box;
   }
   body{
       position: relative;
   }
   .content{
       width: 1024px;
       display: flex;
       flex-wrap: wrap;
       margin: 25px auto;
       justify-content: center;
       background-size: contain;
   }
   .title{
       width: 1000px;
       height: 250px;
       position: relative;
   }
   .titletext{
       position: absolute;
       font-size: 50px;
       top: 90px;
       left: 480px;
       text-shadow: 0px 0px 20px #FFFFFF;
   }
   .flip {
    position: absolute;
    color: #000000;
    font-size: 30px;
    opacity: 0;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 99;
}

@keyframes move {
    0% {
        transform: translate(0) rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: translateY(20px) rotate(-360deg);
        opacity: 1;
    }
}
   .time{
       position: absolute;
       bottom: 10px;
       left: 10px;
       color: #FFFFFF;
       font-weight: bold;
       text-shadow: 5px 5px 5px #000000;
   }
   .menu{
       width: 1000px;
       height: 50px;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 1px solid lightgray;
       background-color: cornflowerblue;
       font-weight: bold;
   }
   .menuName{
       border: 1px solid lightgray;
       width: 300px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .mn1{
       width: 100px;
   }
   .item{
       border: 1px solid lightgray;
       width: 300px;
       height: 150px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color:deepskyblue;
   }
   .count{
       border: 1px solid lightgray;
       width: 300px;
       height: 150px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color:deepskyblue;
   }
   .total{
       border: 1px solid lightgray;
       width: 300px;
       height: 150px;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color:deepskyblue;
   }
   .name{
       width: 100px;
       border: 1px solid lightgray;
       height: 150px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: dodgerblue;
       }
   .product{
       width: 1000px;
       height: 150px;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 1px solid lightgray;
   }
   .footer{
       width: 1000px;
       height: 150px;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 1px solid lightgray;
       background-color:deepskyblue;
   }
   .sum{
       width: 600px;
       height: 150px;
       border: 1px solid lightgray;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 40px;
       font-weight: bold;
   }
   .submit{
       width: 400px;
       height: 150px;
       border: 1px solid lightgray;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   

